.DS_Store
node_modules/
/node_modules
dist/
package/node_modules
docs/node_modules
.play/node_modules
/.svelte-kit
package/.svelte-kit
docs/.svelte-kit
/build
/dist
/.nx
.turbo
.vscode
/target/
.env
.env.\xample
vite.config.js.timestamp-*
vite.config.ts.timestamp-*