@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--ui-text: rgb(var(--ui-color-neutral-900));
	--ui-text-toned: rgb(var(--ui-color-neutral-700));
	--ui-text-muted: rgb(var(--ui-color-neutral-500));
	--ui-text-light: rgb(var(--ui-color-neutral-900));
	--ui-text-dimmed: rgb(var(--ui-color-neutral-400));

	--ui-bg: rgb(var(--ui-color-white));
	--ui-bg-muted: rgb(var(--ui-color-neutral-50));
	--ui-bg-elevated: rgb(var(--ui-color-neutral-100));
	--ui-bg-accented: rgb(var(--ui-color-neutral-200));
	--ui-bg-inverted: rgb(var(--ui-color-neutral-900));

	--ui-border: rgb(var(--ui-color-neutral-200));
	--ui-border-muted: rgb(var(--ui-color-neutral-300));
	--ui-border-accented: rgb(var(--ui-color-neutral-300));
	--ui-border-inverted: rgb(var(--ui-color-neutral-900));

	--ui-radius: rgb(var(--radius-sm));
	--ui-container: rgb(var(--container-7xl));
}

.dark {
	--ui-text: rgb(var(--ui-color-white));
	--ui-text-dimmed: rgb(var(--ui-color-neutral-500));
	--ui-text-muted: rgb(var(--ui-color-neutral-500));
	--ui-text-toned: rgb(var(--ui-color-neutral-300));
	--ui-text-light: rgb(var(--ui-color-white));

	--ui-bg: rgb(var(--ui-color-neutral-900));
	--ui-bg-muted: rgb(var(--ui-color-neutral-800));
	--ui-bg-elevated: rgb(var(--ui-color-neutral-800));
	--ui-bg-accented: rgb(var(--ui-color-neutral-700));
	--ui-bg-inverted: rgb(var(--ui-color-white));

	--ui-border: rgb(var(--ui-color-neutral-800));
	--ui-border-muted: rgb(var(--ui-color-neutral-700));
	--ui-border-accented: rgb(var(--ui-color-neutral-700));
	--ui-border-inverted: rgb(var(--ui-color-white));
}
