
 *::-webkit-scrollbar {
    width: 1em;
    height: 0.6em;
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-800;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0.8em;
    @apply bg-primary-800/80 hover:bg-primary-900 dark:bg-primary-100/80 dark:hover:bg-primary-200;
    @apply border-[3px] border-solid border-gray-200 dark:border-gray-800;
  }


