@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 dark:bg-gray-950;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .bg-primary{
    @apply bg-primary-600 dark:bg-primary-500
  }
  .text-primary{
    @apply text-primary-600 dark:text-primary-500
  }
  .text-gray{
    @apply text-gray-800 dark:text-gray-800
  }
}

.dark {
  color-scheme: dark;
}

a:focus-visible {
  @apply outline-primary;
}

::selection { @apply bg-primary/40; }

select {
  background-image: none;
}
