@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-gray-100 dark:bg-gray-950;
  }
}

@layer components {
  .bg-primary{
    @apply bg-primary-600 dark:bg-primary-500
  }

}

.dark {
  color-scheme: dark;
}

a:focus-visible {
  @apply outline-primary;
}

::selection { @apply bg-primary/40; }

select {
  background-image: none;
}
