
 *::-webkit-scrollbar {
    width: 1em;
    height: 0.6em;
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-800;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0.8em;
    @apply bg-primary-600/60 hover:bg-primary-800 dark:bg-primary-500/60 dark:hover:bg-primary-300;
    @apply border-[3px] border-solid border-gray-200 dark:border-gray-800;
  }

